<div class="aboutpageclass">

	<div class="about">
		<div class="panel">
			<h1>About Us</h1>
			<p>Stutern is providing value for companies in exchange of experience for interns.</p>
		</div>
	</div>

	<div class="contact">
		<div class="panel">
			<h1>Contact</h1>
			<p>Email: info@stutern.com<p>
		</div>
	</div>
</div>