body{
	background-image: url("http://i.imgur.com/onVcJUM.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0%;
	float: left;
}