.coverpageimage{
	background-image: url("http://i.imgur.com/onVcJUM.jpg");
	display: inline-block;
	background-color: black;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0%;
	padding: 0px;
	min-width: 100%;
	min-height: 30rem;
}