.all{

	@media #{$medium-only}{
		margin: 0px 8%;}

	@media #{$small-only}{
		margin: 0px 8%;}
		
	}

.welcome{
	margin-top: 5%;
	text-align: center;
}

hr{
	margin: 5px 0px;
}

h2{
	color: $charcoal;
	font-size: 25px;
}