
$colorwhite: #ffffff;
$fontone:  Tahoma, Geneva, sans-serif;
$colorstutern: #0ee6d0;
$colorgrey: #eeeeee;
$colorgreyer: #dddddd;
$colorwhite: #ffffff;


.row{
padding: 0%;
}
.column{
	min-width: 100%;
	height: 40em;
	margin: 0% 0%;
}

.thumbnail{
display: inline-block;
float: left;
margin: 0% 0.4%;
max-width: 25%;
min-width: 25%;
height: 20em;
background-color: #ffffff;

}

.description{

}

.attachedpicture {
	background-position: center;
	margin: 0%;
	padding: 0%;
}

#companyimage{
	background-image: url("http://i.imgur.com/19AOg88.jpg");
	background-size: cover;
	width: 100%;
	height: 200px;
}

.details{

}
h3{
	margin:0;
}