
$colorwhite: #ffffff;
$fontone:  Tahoma, Geneva, sans-serif;
$colorstutern: #0ee6d0;
$colorgrey: #eeeeee;
$colorgreyer: #dddddd;
$colorwhite: #ffffff;


.row{
margin: 0%;
padding: 0%;
}
.column{
	background-color: #666666;
	min-width: 100%;
	height: 40em;
	margin: 0% 0%;
}

.thumbnail{
display: inline-block;
float: left;
margin: 0% 0.4%;
max-width: 25%;

}

.description{

}

.attachedpicture {
	display: inline-block;
	background-position: center;
	margin: 0%;
	padding: 0%;
}

#companyimage{
	background-image: url("app/assets/images/London_5.jpg");
	background-size: cover;
	width: 25%;
	height: 200px;
}
.details{

}
h3{
	margin:0;
}