
$colorwhite: #ffffff;
$fontone:  Tahoma, Geneva, sans-serif;
$colorstutern: #0ee6d0;
$colorgrey: #eeeeee;
$colorgreyer: #dddddd;
$colorwhite: #ffffff;


.outterwrapper{
margin: 0%;
}
.innerwrapper{
	background-color: #666666;
	min-width: 100%;
	height: 40em;
	margin: 0% 0%;
}
.innerwrapperone{

}
.thumbnail{

}
.description{

}
.attachedpicture {
	display: inline-block;
	max-width: 5%;
}
#wrapcompanyimage{
}
#companyimage{
	background-image: url("http://i.imgur.com/19AOg88.jpg");

}
.details{

}
h3{
	margin:0;
}