*{ box-sizing: border-box;}

@import 'header';
@import 'container';
@import 'footer';

$fontone:  Tahoma, Geneva, sans-serif;
$colorstutern: #0ee6d0;
$colorgrey: #eeeeee;
$colorgreyer: #dddddd;
$colorwhite: #ffffff;



body {
	margin: 0%;
	padding: 0%;
	font: 100% $fontone;
	font-size: 1em;
	background-color: $colorgrey;
}